:root{

   /*----------------------------------------------------------------
    COLORS
    ----------------------------------------------------------------*/

    --red: #ff5582; 
    --pink: #f2b3cf; 
    --fairpink: #eed3e1; 
    --yellow:  #fff3a3;
    --linen: #fcecec;
    --linen2: #302e2e;
    --linen3: #636161;
    --paleblue: #b5d3ff; 
    --purple: #d2b3ff; 
    --palegreen:  #bbfabb;
    --cornflower-blue: #a1c4fd;
    --light-cornflower-blue: #adccff;
    --duskblue: #a2acc3; 
    --darkbrown: #34343d;
    --pureblack:  #000000;
    --royalblue: #7288da;
    --graph-line-fade: #2e3333;
    --graph-line-cybertron: #2b3e4f;

    /*----------------------------------------------------------------
    BOLD & LIGHT COLORS
    ----------------------------------------------------------------*/

    --boldpink: #fe53bb; 
    --boldpurple: #7322e6; 
    --boldred: #ff5555;
    --boldyellow: #ffff00;
    --boldorange: #f78710;
    --lightorange: rgb(248, 230, 197);
    --boldgreen: #85ffa4; 
    --boldblue: #99e7ff; 
    --mintblue: #26798c;
    --boldlightpink: #ffbaeb;
    --soothingwhite: #cccccc;
}

.theme-dark{
	 /*----------------------------------------------------------------
    DARK THEME GRAPH
    ----------------------------------------------------------------*/

    --graph-line: var(--linen2); 
    --graph-line-highlight: var(--linen3);
    --graph-circle-outline: var(--boldlightpink);
    --graph-fill-attachment: var(--royalblue); 
    --graph-circle-fill: var(--cornflower-blue); 
    --graph-circle-fill-highlight: var(--boldblue);
    --graph-circle-fill-unresolved: var(--boldpink);
    --graph-fill-tag: var(--boldpurple);
    --graph-arrow: var(--graph-line-cybertron);
}


/*----------------------------------------------------------------
GRAPH CUSTOMIZATION
----------------------------------------------------------------*/

.theme-dark .graph-view.color-fill-tag {
  color: var(--graph-fill-tag);
  opacity: 70%;
}

.graph-view.color-fill-attachment {
  color: var(--graph-fill-attachment) !important;
}

.graph-view.color-fill-unresolved {
  color: var(--graph-circle-fill-unresolved);
  opacity: 50%;
}

.graph-view.color-arrow {
  color: var(--graph-arrow);
  opacity: 100%;
}

.graph-view.color-line {
  color: var(--graph-line);
  opacity: 90%;
}

.graph-view.color-line-highlight {
  color: var(--graph-line-highlight);
  opacity: 80%;
}

.graph-view.color-fill {
  color: var(--graph-circle-fill);
  opacity: 100%;
}

.graph-view.color-fill-highlight {
  color: var(--graph-circle-fill-highlight);
}

/* this one called color-circle actually means color of circle border when highlighted */
.graph-view.color-circle { 
  color: var(--mintblue);
}

.graph-view.color-text {
  color: var(--soothingwhite);
}