/* Graph color by eleanorkonik */
.graph-view.color-fill {
  color: #d08072;
  }
  
  .theme-dark .graph-view.color-fill-unresolved {
  color: #e2d7ff;
  Opacity:1;
  }
  
  .theme-dark .graph-view.color-fill-tag {
  color: #4c750a;
  }
  
  .theme-dark .graph-view.color-fill-attachment {
  color: #57083d;
  }