/******* HEADING COLORS *******/
.markdown-preview-view h1,
.cm-header-1
{
  color: #adadad;
}

.markdown-preview-view h2,
.cm-header-2
{
  color: #adadad;
}

.markdown-preview-view h3,
.cm-header-3
{
  color: #adadad;
}

.markdown-preview-view h4,
.cm-header-4
{
  color: #adadad;
}

.markdown-preview-view h5,
.cm-header-5
{
  color: #adadad;
}

.markdown-preview-view h6,
.cm-header-6
{
  color: #adadad;
}